<body class="bodyDisplay">
    <b>
    <p>
        Assignment 2 for cmpt-276
        I created 2 ways of viewing the people, one in the index, which is just an index of every person, with ways to edit the database.
        The way is in display, which displays every person as a coloured rectangle, with width being weight, and height being height.
        Metric units are used, so kg and cm, however there is no error checking if they put something in that's clearly lb's or inches.
    </p>
    <p>
        The Database takes a persons name, height, weight, age, gender and ethnicity. Colour is gotten from them inputing and rgb value in the
        correct fields. There is error checking to make sure everything is filled in, and that weight, height, red, green, blue had numbers put in.
        Also, I check that red, green, blue are 0<=val<=255, just like rgb values should be.
    </p>
    <p>
        The image was not created by me, it was gotten from <a href="http://desudesu.co.uk">Here</a>. Attempting to change the BG image was failing so I'm
        just leaving it as one from there.
    </p>
    </b>
    <br />
    <%= link_to 'Back', welcome_index_path %>
</body>