<body>
    <h1>Welcome to this application, to view people click below</h1>
    <%= link_to 'People', people_path %>
    <br />
    <h1>Otherwise, you can view information below</h1>
    <%= link_to 'About', "about" %>
    
    
</body>